* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Helpers */

.h-75 {
	height: 75%;
}

.h-25 {
	height: 25%;
}

.outline {
	outline: 1px solid #E9EBEB;
}

.bg-light-blue {
	background-color: #8EDAFC;
}

.text-light-blue {
	color: #8EDAFC;
}

.text-grey {
	color: #B1B1B1;
}

.text-small {
	font-size: 0.8em;
}

#app {
	height: 100vh;
	width: 100%;
	background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 20%, rgba(220,219,209,1) 20%, rgba(210,219,220,1) 100%);
}

/* Main */

main {
	/* width: 1000px; */
	height: 90vh;
}

/* Header */

header {
	background-color: #EAEAEA;
}

.notifications {
	background-color: #8EDAFC;
}

.bell {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
}

/* Profile */

.profile img, .contacts img {
	width: 50px;
	height: 50px;
}

.icons i {
	margin-left: 10px;
}

/* Contacts */

.chat-selection {
	height: calc(90vh - 66px);
}

.contacts {
	overflow: auto;
	height: 100%;
}

.contact-chat {
	background-image: url("../img/mine.jpg");
	background-repeat: repeat;
}

.active-contact {
	background-color: #E9EBEB;
}

.typing-area {
	/* backdrop-filter: blur(20px); */
	background-color:  #F2EEEA;
}

.typing-area button {
	color: #6C7376;
}

/* Messages */

.sent {
	justify-content: flex-end;
}

.sent .message {
	background-color: #DCF8C0;
}

.received {
	justify-content: flex-start;
}

.received .message {
	background-color: #FFFFFF;
}